
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2 style="text-align: center;">Login Page</h2>
    <form>
        <div class="imgcontainer">
            <img src="assets\logo\avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
        <label for="email">Email: </label>
        <input type="email" id="email"  required="required" placeholder="exemple@gmail.com">
        <br> <br>
        <label for="password">Password: </label>
        <input type="password"  required="required" placeholder="Votre mot de passe">
        <br> <br>
        <button (click)="click()" type="submit">Connexion</button>
        </div>
        
    </form>
</body>
</html>
