body {font-family: Arial, Helvetica, sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    width: 33%;
  }

input:required{
border-color: #800000;
border-width: 3px;
}
input:required:valid{
border-color: #008000;
}

input[type=email], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

img.avatar {
width: 15%;
border-radius: 50%;
}

.container {
padding: 16px;
}
